<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="mainContainer">
        <div class="verificationCard">            
        </div>
        <h1><img src="check_3472620.png"> Email Verified !</h1>
    </div>
</body>
</html>